.todo__block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  &-title{
    color: firebrick;
    font-size: 40px;
    font-family: Tahoma, sans-serif;
  }
  &-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  &-input{
    padding: 3px 30px;
    border: 2px solid gold;
    font-size: 14px;
    border-radius: 10px;
  }
  &-btn{
    padding: 5px 25px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background: red;
    color: white;
    border-radius: 10px;
  }
  &-btn:hover{
    background: chartreuse;
  }
}

.item__delete{
  display: flex;
  column-gap: 20px;
  flex-direction: row;
  margin-bottom: 10px;
  &-btn{
    cursor: pointer;
    border: none;
    padding: 8px 10px;
    font-size: 14px;
    background: teal;
    color: black;
    border-radius: 10px;
  }
  &-text{
    color: coral;
    font-size: 18px;
    font-family: Calibri, sans-serif;
  }
}

.tasks__progress-title{
  text-align: center;
  color: steelblue;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: Roboto Light, sans-serif;
}

.tasks__progress-line{
  width: 700px;
  margin:0 auto;
  padding-bottom: 30px;
}

.tasks__progress-text{
  text-align: center;
  font-family: Tahoma, serif;
  color: orangered;
  font-size: 17px;
}

.delete__status{
  text-align: center;
  &-btn{
    margin-top: 20px;
  }

}


